# ===============================
# VOID ARENA BOT 5.0
# Configuração local/Render
# ===============================

PORT=3002
BOT_API_PORT=3002
SESSION_SECRET=troque-por-uma-chave-grande-e-aleatoria

# Bot Discord
DISCORD_TOKEN=COLE_SEU_TOKEN_NOVO_AQUI
CLIENT_ID=COLE_SEU_APPLICATION_ID_AQUI
DISCORD_CLIENT_ID=COLE_SEU_APPLICATION_ID_AQUI

# Dono/Admin
OWNER_DISCORD_IDS=1235713276277559326
ADMIN_DISCORD_IDS=1235713276277559326

# Ponte BOT <-> SITE
SITE_API_URL=http://localhost:3000
BOT_API_KEY=
SITE_REALTIME_TOKEN=

# Canais oficiais
RESULTS_CHANNEL_ID=1521257495727706234
EVENT_VALIDATION_CHANNEL_ID=1519857078024540270

# Banco central do BOT
DATA_DIR=./data

# Backup GitHub opcional
GITHUB_BACKUP_REPO=brenodasilva0099-png/Void-Arena-BACKUPS
GITHUB_BACKUP_BRANCH=main
GITHUB_BACKUP_TOKEN=
GITHUB_BACKUP_AUTO_RESTORE=false
